<h1>Order List</h1>
	<form action="/orderList" method="POST" >
		
		<div>
			<label for="">Payment due: 312.00</label>
			<input type="submit" name="due" value="pay" onclick="due()">
		</div>

		<div>
			<label for="">Paid successfully: 252.00</label>
			<input type="submit" name="paid" value="collect" onclick="paid()">
		</div>

		<div>
			<label for="">Paid successfully: 438.00</label>
			<input type="submit" name="paid" value="collect" onclick="paid()">
		</div>

		{{!-- <input type="submit"> --}}

	</form>