body {
	background-color: rgb(46, 44, 44);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	margin: auto;
	background-color: honeydew;
	width: 80%;
	padding: 1em;
}


.counter {
	background-color: lightgray;
	font-size: 2em;
	width: 3em;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0.25em;
}
h1 {
	font-weight: bold;
	text-align: center;
	font-family: fantasy;
	background-color: rgb(46, 44, 44);
	color: rgb(214, 214, 95);
	border-style: dotted;
}
h3 {
	font-weight: bold;
	text-align: center;
	font-family: fantasy;
}
.shoppingCart {
	display: flex;
	flex-direction: column;
	background-color: rgb(46, 44, 44);
	color: rgb(214, 214, 95);
	border-style: double;
}
p {
	text-align: center;
	font-family: fantasy;
}
h4 {
	text-align: center;
	font-family: fantasy;
	font-weight: bold;
	font-size: large;
}
.order {
	width: 10%;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
	font-weight: bold;
	background-color: rgb(214, 214, 95);
	color: black;
}
.pizzas {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.large {
	background-color: rgb(46, 44,44);
	color: rgb(214, 214, 95);
	height: 300px;
}
.medium {
	background-color: rgb(214, 214, 95);
	color: rgb(46, 44, 44);
	height: 300px;
}
.small {
	background-color: rgb(46, 44, 44);
	color: rgb(214, 214, 95);
	height: 300px;
}
.buy {
	width: 50%;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
	font-weight: bold;
	background-color: rgb(214, 214, 95);
	color: black;
}
h5 {
	text-align: center;
}
.footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: rgb(46, 44, 44);
	color: rgb(214, 214, 95);
	border-style: groove;
}
.left {
	width: 50%;
	text-align: center;
}
.right {
	width: 100%;
	text-align: center;
}
img {
	align-content: center;
	height: 20px;
}
table {
	width: 50%;
	text-align: center;
	align-items: center;
	align-self: center;
	align-content: center;
}